<!DOCTYPE html>
<html lang="en" class="w-scree h-screen overflow-hidden">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Chatter · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script>window.email = "<%= assigns[:email] %>";</script>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body class="bg-green-200 dark:bg-green-800 dark:text-green-100 flex flex-col space-y-3 w-full h-full overflow-auto">
    <header>
      <section class="container mt-3">
        <nav role="navigation">
          <ul class="flex space-x-3">
            <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
              <li><%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home), class: "p-1 border-b-4 border-transparent hover:border-black focus:border-black" %></li>
            <% end %>
          </ul>
        </nav>
      </section>
    </header>

    <main role="main" class="container flex-grow h-full">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= @inner_content %>
    </main>
  </body>
</html>
